---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/161.185.207.20/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "161.185.207.20",
          "city": "New York City",
          "region": "New York",
          "country": "US",
          "loc": "40.7143,-74.0060",
          "org": "AS22252 The City of New York",
          "postal": "10004",
          "timezone": "America/New_York",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Mon, 26 Sep 2022 05:02:01 GMT
recorded_with: VCR 6.1.0
